*{
    color: white;
}

.wrapper{
    height: 100vh;
    background-color: black;
}

.custom-card{
    background-color: hsl(216, 12%, 8%);
    padding: 20px;
    border-radius: 24px;
}

/* logo */

.logo{
    margin-bottom: 12px;
}

.logo img{
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
}

/* title */

.title{
    font-size: 24px;
    font-weight: bold;
}

/* descrption */

.description{
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}

/* ratings */

.rating-numbers{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    margin: 12px 0 12px 0;
}

.rating-numbers a{
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 19%, 18%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
}

.rating-numbers a:hover{
    background-color: hsl(217, 12%, 63%);
    color: hsl(213, 19%, 18%);
}

.rating-numbers a.active-rating {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
  }

/* submit button */

.submit-button{
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
    font-weight: bold;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
}

.submit-button:hover{
    background-color: hsl(217, 12%, 63%);
    color: hsl(213, 19%, 18%);
}

.thankyou-state .selected-rating{
        font-size: 15px;
        margin: 16px auto;
        padding: 4px;
        background-color: hsl(213, 19%, 18%);
        color: hsl(25, 97%, 53%);
        border-radius: 16px;
        width: 60%;
}

.thankyou-state h3{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

